﻿@*@model IEnumerable<pruebaMVC.Models.Persona>*@

@using PagedList.Mvc
@model PagedList.IPagedList<pruebaMVC.Models.Person>

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Registro Persona";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Persons", FormMethod.Get, new {@class = "form-inline"}))
{
    @Html.Label("search", "Nombre, apellido o cedula: ", new {@class="control-label"})
    @Html.TextBox("search",ViewBag.CurrentSearch as string, new { @class = "form-control" })
    <input type="submit" value="Search" class="btn btn-default"/>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Nombre", "Index", new { sort = ViewBag.NameSort, search = ViewBag.CurrentSearch})
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Apellido)*@
            @Html.ActionLink("Apellido", "Index", new { sort = ViewBag.ApellidoSort, search = ViewBag.CurrentSearch })
        </th>
        
        <th>
            @*@Html.DisplayNameFor(model => model.Identificacion)*@
            @Html.ActionLink("Tipo Identificacion", "Index", new { sort = ViewBag.TipoIdentificacionSort, search = ViewBag.CurrentSearch })
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.Identificacion)*@
            @Html.ActionLink("Identificacion", "Index", new { sort = ViewBag.IdentificacionSort, search = ViewBag.CurrentSearch })
        </th>
        
        <th>
            @*@Html.DisplayNameFor(model => model.Identificacion)*@
            @Html.ActionLink("Activo", "Index", new { sort = ViewBag.IdentificacionSort, search = ViewBag.CurrentSearch })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeIdentifications.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new {page, sort = ViewBag.CurrentSort, search = ViewBag.CurrentSearch}))

